extends layout

block content
      div.rows
         .col-md-1 col-md-1
      div.rows
         .col-md-4  col-md-4
      div.rows
         .col-md-6  col-md-6
      div.rows
         .col-md-8  col-md-8
      div.rows
            .col-md-1  col-md-8
      div.rows
            .col-md-4  col-md-8
      div.rows
            .col-md-6  col-md-8
      div.rows
            .col-md-8  col-md-8
      div.rows
            .col-md-4  col-md-8
      div.rows
            .col-md-6  col-md-8
      div.rows
            .col-md-1  col-md-8
      div.rows
            .col-md-8  col-md-8
      div.rows
            .col-md-6  col-md-8
      div.rows
            .col-md-1  col-md-8

      div.rows
            .col-md-4  col-md-8
      div.rows
            .col-md-8  col-md-8
